@charset "UTF-8";

body{
	/*background:red;*/
	font-family:'PingFang SC','Helvetica Neue','Helvetica','Hiragino Sans GB','Microsoft YaHei','微软雅黑','黑体','Arial','sans-serif';
	color: #666;
	font-size: 14px;
	background:#fff;
}
body,h1,h2,h3,h4,h5,ul,li,h3,span,em,input,i,button,p{
	padding:0px;
	margin:0px;
}
ul,li{
	list-style:none;
}
i{
	font-style:normal;
}
img{
	vertical-align:middle;
}
input{
	outline:0;
}
input,img{
	border:none;
}
table{
	border-collapse:collapse;
	border-spacing:0;
}
button{
	border:none;
}
a{
	color:#333;
	text-decoration:none;
}
a:hover{
	color:#17a1e6;
	text-decoration:none;
}
em{
	font-style:normal;
}
textarea{
	outline:0;
	resize:none;
}
.f_left{
	float:left;
}
.f_right{
	float:right;
}
.clearfix:before,.clearfix:after{
	content:"";
	display:block;
	height:0px;
	width:0px;
	clear:both;
}
#header{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:60px;
	background:transparent;
	transition:0.2s;
	z-index:101;
	border-bottom:1px solid rgba(0,0,0,0.1);
}
#header .container{
	width:1170px;
	height:60px;
	margin:0 auto;
	/*border:1px solid gray;*/
}
.header-icon{
	margin-top:16px;
}
.header-icon img{
	width:80px;
	height:28px;
}
#header .city{
	position:relative;
	width:60px;
	margin-top:17px;
	padding:0px 10px;
	line-height:26px;
	border-radius:5px;
}
#header .city .info{
	position:absolute;
	top:-5px;
	left:7px;
	z-index:99;
	width:54px;
	/*height:182px;*/
	border-radius:4px;
	background:#fff;
	box-shadow:0 5px 20px 0 rgba(0,0,0,0.1);
	overflow:hidden;
	height:0px;
}
#header .city .info ul{
	box-sizing:border-box;
	width:54px;
	padding:8px 15px;
	z-index:99;
	border-radius:5px;
	color:#666;
}
#header .city .info ul li{
	height:26px;
	line-height:26px;
	text-align:center;
	margin-bottom:2px;
}
#header .city .info ul li a{
	display:block;
	color:#666;
	font-size:12px;
	border-radius:5px;
}
#header .city .info ul li a:hover{
	color:#17a1e6;
}
#header .city .text{
	font-size:12px;
	color:#fff;
	cursor:pointer;
}
#header .black .city .text{
	color:#000;
}
#header .search{
	width:300px;
	height:38px;
	margin:11px 0 0 5px;
	float:left;
	position:relative;
	border-radius:3px;
}
#header .search input{
	/*box-sizing:border-box;*/
	width:320px;
	text-indent:5px;
	padding:4px 5px;
	height:20px;
	line-height:20px;
	margin-top:5px;
	margin-left:32px;
	font-size:14px;
	color:#555;
	background:#fff;
}
#header .search i{
	position:absolute;
	left:-15px;
	top:5px;
	padding-left:15px;
	border-left:1px solid rgba(0,0,0,0.1);
	color:#ddd;
	cursor:pointer;
	font-size:28px;
}
#header .nav{
	float:right;
	height:60px;
	line-height:60px;
}
#header .nav a{
	float:left;
	color:#fff;
	margin-right:20px;
}
#header .black .nav a{
	color:#666;
}
#header .nav a:hover{
	color:#17a1e6;
}
#header .nav .last{
	margin-right:0px;
}
#header .nav .last i{
	padding-right:3px;
	color:#cc2929;
}
#header .nav .login{
	padding-left:15px;
	border-left:1px solid rgba(255,255,255,0.2);
}
#header .nav .phone{
	position:relative;
	/*top:-3px;*/
	font-size:18px;
	font-weight:600;
}
.login-mask.show{
	position:fixed;
	width:100%;
	height:100%;
	z-index:100;
	background:rgb(0,0,0);
	opacity:0.5;
	filter:alpha(opacity=50);
}
#header .dialog-login{
	position:fixed;
	box-sizing:border-box;
	text-align:center;
	width:420px;
	height:350px;
	z-index:9999;
	left:50%;
	top:50%;
	margin-left:-210px;
	margin-top:-175px;
	padding:40px 30px;
	border-radius:8px;
	background:#fff;
	display:none;
}
#header .dialog-login h1{
	height:31px;
	font-size:25px;
	font-weight:500;
	color:#000;
}
#header .dialog-login h2{
	height:19px;
	font-size:14px;
	font-weight:400;
	color:#666;
	margin-top:15px;
}
#header .dialog-login input{
	box-sizing:border-box;
	width:100%;
	padding:4px 19px;
	height:48px;
	font-size:15px;
	color:#b2b2b2;
	margin-bottom:10px;
	border-radius:4px;
	background:#f5f5f5;
}
#header .dialog-login .form-vertify{
	position:relative;
}
#header .dialog-login .form-vertify a{
	position:absolute;
	right:15px;
	top:15px;
	font-size:12px;
	height:16px;
	color:#a7a7a7;
}
#header .dialog-login input.login-phone{
	margin-top:30px;
}
#header .dialog-login .login-btn{
	display:block;
	text-align:center;
	width:100%;
	color:#fff;
	cursor:pointer;
	height:48px;
	border-radius:4px;
	background:#17a1e6;
	font-size:14px;
	font-weight:600;
	margin-top:20px;
}
#header .dialog-login .close{
	position:absolute;
	display:inline-block;
	top:20px;
	right:30px;
}
#main{
	margin-top:60px;
}
#main .search{
	color:#666;
	width:100%;
	background:#fff;
	padding-bottom:20px;
	overflow:hidden;
}
#main .search-box{
	width:1170px;
	margin:0 auto;
	border:1px solid #ebebeb;
}
.search-box .top-bar{
	position:relative;
	margin-bottom:10px;
	border-bottom:2px solid #17a1e6;
	overflow:hidden;
}
.search-box div.list{
	display:none;
}
.search-box .top-bar ul li{
	float:left;
	margin-right:10px;
	text-align:center;
}
.buildingType a{
	box-sizing:border-box;
	padding-top:30px;
	width:90px;
	height:68px;
	display:block;
}
.buildingType a.active{
	color:#fff;
	background:#17a1e6;
}
.search-item{
	padding:7px 0;
	overflow:hidden;
}
.search-item:hover{
	background:#f8fcfe;
	border-radius:4px;
}
.search-item .left{
	box-sizing:border-box;
	width:90px;
	padding:11px 0 0 33px;
	font-size:13px;
	font-weight:700;
}
.search-item .right{
	box-sizing:border-box;
	width:1080px;
	padding:10px 0 10px 29px;
	border-left:2px solid rgba(0,0,0,0.05);
}
.search-item .right .level1{
	overflow:hidden;
	padding-bottom:14px;
	border-bottom:1px solid rgba(0,0,0,0.1);
}
.search-item .right .level1 a{
	position:relative;
	float:left;
	display:block;
	width:100px;
	font-size:13px;
}
.search-item .right .level1 .arrow{
	position:absolute;
	display:inline-block;
	top:28px;
	left:3px;
	width:100%;
	height:5px;
	background:url('../images/arrow.png') no-repeat;
	display:none;
}
.search-item .right .level1 a.active .arrow{
	display:block;
}
.search-item .right .level1 a.active,.search-item .right .level2 a.active{
	color:#17a1e6;
}
.search-item .right .level2{
	padding-top:14px;
	padding-bottom:14px;
}
.search-item .right .pdnone{
	padding:0px;
}
.search-item .right .level2 ul{
	overflow:hidden;
}
.search-item .right .level2 ul li{
	float:left;
	margin-right:30px;
	font-size:13px;
}
.search-item  ul li.count{
	box-sizing:border-box;
	position:relative;
	top:4px;
	width:90px;
	height:18px;
	line-height:18px;
	border-radius:4px;
	margin-top:-4px;
	margin-right:10px !important;
	border:1px solid #CCC;
	display:inline-block;
	overflow:hidden;
	background:transparent;
}
.search-item  ul li.count em{
	position:absolute;
	left:38px;
	top:-1px;
}
.search-item  ul li.count input{
	box-sizing:border-box;
	width:38px;
	height:18px;
	line-height:16px;
	border:0;
	padding:0 5px;
	margin:0;
	background:transparent;
}
.search-item .btn-confirm{
	display:inline-block;
	height:20px;
	line-height:16px;
	padding:0 5px;
	margin-left:3px;
	/*display:none;*/
	position:relative;
	top:-1px;
	border-radius:3px;
	border:1px solid #17a1e6;
	background:#17a1e6;
	color:#FFF;
	cursor:pointer;
}
.search-item .right .level2 ul li.count input.max{
	float:right;
}
.listing{
	overflow:hidden;
	width:100%;
	background:#f7f7f7;
}
.listing-content{
	overflow:hidden;
	width:1170px;
	margin:0 auto;
	padding:20px 0 60px 0;
}
.listing-content .list{
	width:860px;
}
.list-top{
	overflow:hidden;
	width:100%;
	padding-bottom:11px;
	border-bottom:1px solid rgba(0,0,0,0.1);
}
.list-top .select-item{
	float:left;
	height:28px;
	color:#17a1e6;
	border:1px solid #17a1e6;
	padding:0px 10px;
	border-radius:4px;
}
.list-top .select-item h2{
	float:left;
	font-weight:500;
	font-size:12px;
	line-height:26px;
}
.list-top .select-item a.active{
	color:#17a1e6;
}
.list-top .item-sort{
	font-weight:600;
	margin:5px 0 0 20px;
}

.list-main .list-item{
	box-sizing:border-box;
	display:block;
	width:860px;
	height:205px;
	padding:30px 0;
	border-bottom:1px solid rgba(0,0,0,0.1);
	background:#f7f7f7;
}
.list-main .list-item:hover{
	position:relative;
	/*left:-20px;*/
	width:900px;
	padding-left:20px;
	padding-right:20px;
	background:#fff;
	box-shadow:0 10px 20px 0 rgba(0,0,0,0.1);
}
.list-main .list-item img{
	width:210px;
	height:140px;
	border-radius:4px;
}
.list-main .list-item .info{
	position:relative;
	width:630px;
	margin:0 0 0 20px;
}
.list-main .list-item .part1{
	overflow:hidden;
}
.list-main .list-item .part1 h2{
	float:left;
}
.list-main .list-item .part1 h2 a{
	color:#000;
	font-size:18px;
	font-weight:600;
}
.list-main .list-item .part1 .price-num{
	color:#cc2929;
	font-size:28px;

}
.list-main .list-item .part1 .price-unit{
	color:#cc2929;
	font-size:12px;
	padding-left:5px;
	padding-top:14px;
}
.list-main .list-item .part1 span{
	float:right;
}
.list-item .part2{
	margin-top:-2px;
}
.list-item .part2 span,.list-item .part3 span{
	color:#353535;
}
.list-item .part2 a{
	color:#555;
}
.list-item .part3,.list-item .part4{
	margin-top:10px;
}
.list-item .part3 i{
	font-size:19px;
	color:#b2b2b2;
}
.list-item .part4 li{
	text-align:center;
	width:72px;
	height:40px;
	line-height:40px;
	border:1px solid #EEE;
	border-radius:4px;
}
.list-item .part4 li:hover{
	color:#17a1e6;
	border-color:#17a1e6;
}
.list-item .part4 li:hover a{
	color:#17a1e6;
}
.list-item .part4 a{
	display:block;
	width:72px;
	height:40px;
	color:#666;
}
.list-item .list-detail{
	position:absolute;
	top:103px;
	right:0px;
	width:118px;
	height:36px;
	line-height:36px;
	text-align:center;
	color:#fff;
	font-size:14px;
	font-weight:600;
	background:#17a1e6;
	border-radius:4px 4px 4px 4px;
	transition:0.2s;
	/*behavior:url('ie-css3.htc');*/
}
.list-item .list-detail:hover{
	background:#18aaf2;
}

.list-bottom{
	margin-top:20px;
}
.list-bottom .pos a{
	font-size:12px;
	height:40px;
	line-height:40px;
	color:#b2b2b2;
}
.list-bottom .page{
	height:40px;
	line-height:40px;
}
.list-bottom .page ul{
	float:left;
	background:#fff;
	border-radius:4px;
}
.list-bottom .page .next{
	display:block;
	float:left;
	width:120px;
	margin-left:20px;
	border-radius:5px;
	text-align:center;
	background:#fff;
}
.list-bottom .page li{
	float:left;
}
.list-bottom .page li a{
	display:block;
	height:40px;
	line-height:40px;
	padding:0px 13px;
}
.list-bottom .page li a.active{
	color:#000;
	font-weight:600;
}
.operation{
	width:250px;
	font-size:14px;
	/*border:1px solid red;*/
}
.operation .oper-box{
	padding-bottom:30px;
	margin-bottom:30px;
	border-bottom:1px solid rgba(0,0,0,0.1);
}
.operation .oper-box.oper-box-hot{
	padding-bottom:10px;
}
.operation .oper-box .layer{
	margin-bottom:15px;
	font-style:normal;
	font-size:14px;
	line-height:24px;
	color:#000;
	font-weight:600;
}
.operation .map-guide{
	box-sizing:border-box;
	width:250px;
	height:100px;
	border-radius:4px;
	background:url('../images/mapsearch.png') no-repeat;
	background-size:100%;
	transition:0.2s;
	cursor:pointer;
}
.operation .map-guide:hover p{
	color:#17a1e6;
}
.operation .map-guide p{
	padding-top:26px;
	padding-left:70px;
}
.operation .recom-txt{
	margin-top:-20px;
	margin-bottom:5px;
	padding:10px 0;
	font-size:12px;
	color:#b2b2b2;
}
.operation .weituo{
	width:100%;
	height:48px;
	line-height:48px;
	text-align:center;
	display:block;
	font-size:14px;
	font-weight:600;
	color:#fff;
	background:#17a1e6;
	border-radius:4px;
}
.operation .weituo:hover{
	background:#18aaf2;
	transition:background 0.2s;
}
.oper-box .hot-house{
	overflow:hidden;
}
.oper-box .hot-house li{
	width:250px;
	margin-bottom:20px;
	overflow:hidden;
	cursor:pointer;
}
.oper-box .hot-house li:hover .hot-area{
	color:#17a1e6;
}
.oper-box .hot-house-img img{
	width:96px;
	height:60px;
	border-radius:4px;
	margin-right:10px;
}
.oper-box .hot-area{
	height:20px;
	line-height:20px;
	margin-bottom:1px;
	color:#000;
}
.oper-box .hot-building{
	height:17px;
	line-height:17px;
	margin-bottom:2px;
	font-size:12px;
	color:#666;
}
.oper-box .hot-price{
	margin-top:3px;
	height:17px;
	line-height:17px;
	font-size:12px;
	color:#cc2929;
}
.footer{
	width:100%;
	height:296px;
	padding:0;
	margin:0;
	background:#202020;
}
.footer .keyword{
	background:#f7f7f7;
}
.keyword .container{
	width:1170px;
	height:30px;
	margin:0 auto;
	border-top:1px solid #ebebeb;
	padding-top:5px;
	padding-bottom:10px;
}
.keyword .hot{
	float:left;
	line-height:30px;
	height:30px;
	font-size:11px;
	font-weight:600;
	color:#b2b2b2;
}
.keyword ul{
	width:1042px;
	margin-left:88px;
	padding-bottom:0px;
	text-align:left;
}
.keyword ul li{
	line-height:30px;
	float:left;
}
.keyword ul li a{
	font-size:11px;
	color:#b2b2b2;
	margin-right:19px;
	white-space:nowrap;
	display:inline-block;
}
.keyword ul li a:hover{
	color:#17a1e6;
}
.keyword .link{
	float:right;
	line-height:30px;
	font-size:11px;
	color:#b2b2b2;
}

.footer .content{
	font-size:11px;
	width:1170px;
	height:250px;
	margin:0px auto;
	padding:30px 0 0;
	color:#696b70;
}
.footer .copyright{
	line-height:16px;
	text-align:left;
}
.footer .logo img{
	display:block;
	width:61px;
	height:20px;
	margin-bottom:7px;
}
.footer .beian{
	margin-top:10px;
}
.footer .gov img{
	width:26px;
	height:36px;
	margin-top:10px;
}

.footer .service{
	margin-left:60px;
}
.footer .service .title{
	color:#b4b6bf;
	font-size:13px;
	margin-bottom:13px;
	line-height:22px;
	font-weight:bold;
}
.footer .service .info span{
	display:block;
}
.footer .service .info .tel{
	font-size:24px;
	font-weight:500;
	/*margin-bottom:8px;*/
}
.footer .service .info p{
	margin:8px 0px 10px 0px;
}
.footer .service .info img{
	width:70px;
	height:70px;
}
.footer .link .box{
	width:383px;
	height:210px;
	margin-left:60px;
}
.footer .link .box a{
	color:#696b70;
	float:left;
	line-height:22px;
	margin-right:15px;
}
.footer .link .top a{
	margin-bottom:8px;
	font-size:13px;
}
.footer .link .box a.current{
	text-decoration:underline;
	color:#b4b6bf;
}
.footer .link .box a.noright{
	margin-right:0px;
}

.footer .about{
	margin-left:60px;
}
.footer .about p{
	color:#b4b6bf;
	font-size:13px;
	margin-bottom:8px;
	line-height:22px;
	font-weight:bold;
}
.footer .about a{
	display:block;
	line-height:22px;
	color:#696b70;
}
.footer .about a:hover{
	color:#999ba3;
	text-decoration:underline;
}

.slide-bar{
	position:fixed;
	top:0;
	right:0;
	width:39px;
	height:100%;
	box-shadow:-1px 0 3px rgba(0,0,0,0.2);
	background:#fff;
	z-index:999;
}
.slide-bar .container{
	position:relative;
	top:40%;
	width:100%;
	height:200px;
	text-align:center;
}
.slide-bar .fav{
	height:100px;
	cursor:pointer;
	background:url('../images/sidebar-icon.png') no-repeat -160px 0px;
}
.slide-bar .fav:hover{
	background-position:-200px 0;
}
.slide-bar .line{
	width:26px;
	height:1px;
	border:0px;
	border-top:1px solid #ccc;
	margin:5px auto;
}
.slide-bar .weixin{
	position:relative;
	height:39px;
	background:url('../images/sidebar-icon.png') no-repeat -40px 0px;
	cursor:pointer;
}
.slide-bar .weixin .info{
	position:absolute;
	top:-40px;
	right:39px;
	border:2px solid #17a1e6;
	background:#fff;
	display:none;
}
.slide-bar .weixin .info p{
	width:98px;
	font-size:12px;
	font-weight:bold;
	line-height:25px;
	margin-top:-5px;
}
.slide-bar .weixin:hover{
	background-position:-40px -40px;
}
.slide-bar .phone{
	position:relative;
	height:39px;
	background:url('../images/sidebar-icon.png') no-repeat -80px 0px;
	cursor:pointer;
}
.slide-bar .phone .info{
	position:absolute;
	top:0px;
	right:39px;
	width:200px;
	height:39px;
	font-size:12px;
	color:#fff;
	background:#17a1e6;
	border-top-left-radius:20px;
	border-bottom-left-radius:20px;
	display:none;
}
.slide-bar .phone .info span{
	line-height:22px;
	font-size:18px;
}
.slide-bar .phone:hover{
	background-position:-80px -40px;
}
.slide-bar .gotop{
	position:absolute;
	bottom:0px;
	left:0px;
	width:39px;
	height:39px;
	background:url('../images/sidebar-icon.png') no-repeat -120px 0px;
	cursor:pointer;
}
.slide-bar .gotop:hover{
	background-position:-120px -40px;
}

.contact{
	position:fixed;
	width:70px;
	height:190px;
	right:60px;
	bottom:170px;
	z-index:200;
	border-radius:8px;
	box-shadow:0 1px 3px rgba(0,0,0,0.3);
	background:#f2f2f2;
	text-align:center;
	display:none;
}
.contact div{
	box-sizing:border-box;
}
.contact .phone,.contact .weixin{
	position:relative;
	width:100%;
	height:70px;
	padding-top:10px;
	border-bottom:1px solid #f2f2f2;
	background:#fff;
	cursor:pointer;
}
.contact .phone p{
	position:absolute;
	top:0px;
	left:-180px;
	display:block;
	color:#fff;
	font-size:14px;
	width:170px;
	height:58px;
	line-height:22px;
	padding-top:12px;
	border-radius:8px;
	background:#17a1e6;
	display:none;
}
.contact .phone p strong{
	font-size:22px;
	font-weight:normal;
}
.contact div em{
	position:absolute;
	top:30px;
	right:-11px;
	display:block;
	width:11px;
	height:11px;
	background:url('../images/icon_tips_arrow.png') no-repeat;
}
.contact .gotop{
	width:100%;
	padding-top:10px;
	cursor:pointer;
}
.contact div i{
	display:block;
	width:35px;
	height:32px;
	margin:0px auto;
	background:url('../images/icon_contact.png') no-repeat -30px -32px;
}
.contact .weixin i{
	background-position:-30px -64px;
}
.contact .weixin p{
	position:absolute;
	top:-60px;
	left:-130px;
	width:120px;
	height:135px;
	line-height:22px;
	padding-top:16px;
	font-size:14px;
	border-radius:8px;
	color:#fff;
	background:#17a1e6;
	display:none;
}
.contact .weixin p em{
	top:80px;
}
.contact .weixin p img{
	width:90px;
	height:90px;
	margin-top:10px;
}
.contact .gotop i{
	width:16px;
	height:16px;
	background:url('../images/icon_top_arrow.png') no-repeat;
}
.contact div span{
	font-size:12px;
	color:#666;
}
.contact div:hover span{
	color:#17a1e6;
}

.online{
	position:fixed;
	bottom:22px;
	right:41px;
	display:block;
	z-index:999;
	background:transparent;

}